<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/backend/delete-admins.css">
    <title>
        <%= title %>
    </title>
    </head>

    <body class="home-page-body" dir="rtl">
        <%- include('./includes/header.ejs') %>

            <div class="home-page-container">

                <%- include('./includes/sidbar.ejs') %>

                    <div class="tabs-side">
                        <div class="tabs-header">
                            حذف ادمن
                        </div>
                        <div class="main-background-content">
                            <form class="bg-forms" id="delete_user_form">
                                <div id="box-error">
                                </div>
                                <div class="mb-3 username">
                                    <input id="currentUserUsername" disabled value="<%= admin.username %>"
                                        class="form-control" type="text">
                                </div>
                                <div class="mb-3 username">
                                    <label for="username" class="form-label">اسم المستخدم الخاص بالآدمن المراد
                                        حذفه</label>
                                    <input class="form-control" type="text" id="username" name="username" required>
                                </div>
                                <div class="password mb-3">
                                    <label for="password" class="form-label">كلمة المرور الخاصة بحسابك</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">حذف الحساب</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>

            <script src="/javascript/backend/includes/logout.js"></script>
            <script src="/javascript/backend/delete-admins.js"></script>
    </body>

    </html>